parameters:
    level: 8
    paths:
        - lib/
    autoload_files:
        - %rootDir%/../vendor/autoload.php
    excludePaths:
        - */tests/*
    checkMissingIterableValueType: false
    checkMissingArrayMap: false

includes:
    - phpstan.neon
